/*.search_icon {
  width: 26px;
  position: relative;
  top: 0px;
  left: -5px;
  margin: 5px;
}*/
.box {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 0px, auto;
  margin-left: 10px;
}
.wrapper {
  border: #a5abafd8 0.3px solid;
  max-width: 600px;
  margin: 5px auto;
  padding: 15px;
  border-radius: 10px;
}
.githubLink {
  font-size: 10px;
  margin-top: 0px;
}

.search_btn {
  border: #a5abafd8 1px solid;
  background-color: white;
  width: 80px;
}
.currentLocation {
  border: #a5abafd8 0.3px solid;
  background-color: white;
  border-radius: 4px;
  width: 80px;
}
.current_temp_icon {
  display: inline-block;
  height: 60px;
  margin-top: 0px;
  width: 60px;
}
.sunnywithclouds,
.heavyrain_icon,
.lightrain_icon,
.cloudy_icon {
  width: 45px;
}
.current_temp {
  font-size: 45px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.current_city {
  font-size: 45px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-transform: capitalize;
}
.degree {
  display: inline;
  font-size: 12px;
  margin-top: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.active {
  display: inline;
  cursor: default;
  color: #596e79d8;
  text-decoration: none;
}
.celcius:hover,
.farenheit:hover {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
.day_feelslike {
  margin-top: -12px;
  color: #596e79d8;
  font-size: 12px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.now {
  color: #596e79d8;
  font-size: 13px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-transform: capitalize;
  margin-top: -2px;
}

.preci_wind {
  font-size: 12px;
  text-align: left;
  margin-top: -21px;
  margin-bottom: 40px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.future_prediction {
  font-size: 12px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#city_search {
  width: 60%;
  border: #a5abafd8 1px solid;
  border-radius: 4px;
  height: 40px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
